<div class="container animated fast mt-3">
  <div class="nuevoa text-center w-100 pt-2 pb-2">
    <h1 class="text-light">
      Solicitud
    </h1>
  </div>

  <div class="m-3">
    <div class="row mt-3 animated fast fadeIn">
      <div class="col-12">
  
        <select *ngIf="recolectores" class="custom-select custom-select-lg mb-3" [(ngModel)]="recolectorSelect">
          <option selected hidden disabled value="-1">Seleccione un Recolector...</option>
          <option *ngFor="let recolector of recolectores" [value]="recolector.dni">{{recolector.nomyape}}</option>
        </select>
  
      </div>
    </div>
  
  
  
  
    <!-- SOLICITUD VISTA DESDE ORGANIZACION -->
  
  
    <!-- aqui hay que poer la card Detalleorganizacion -->
    <div class=" w-100  animated fast fadeIn">
  
  
      <ng-container *ngIf="solicitud">
        <div class="card border-success mb-3 mr-auto ml-auto " style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{arbol.galeria}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body text-success">
                <h5 class="card-title">{{arbol.nom_especie}}</h5>
                <p class="card-text">Familia: {{familia.nombre}}</p>
                <p class="card-text">Cantidad: {{solicitud.cantidad}}</p>
                <p class="card-text">Retiro: {{solicitud.fecha}}, {{solicitud.hora}}</p>
                <p class="card-text">Direccion: {{arbol.direccion}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
  
      <!-- <app-detalleorganizacion [solicitud]="solicitud"></app-detalleorganizacion> -->
    </div>
  
  
  
  
  
  
    <div class="row text-center mt-3 animated fast fadeIn">
      <div class="col-6" >
        <a href="/#" class="btn btn-danger py-2 px-4 btn-xs">Rechazar</a>
      </div>
      <div class="col-6" (click)="aceptar()">
        <a href="/#" class="btn btn-success py-2 px-4 btn-xs">Aceptar</a>
      </div>
    </div>
  
    
  </div>
  